.single-movie{
    display: flex;
    padding: 20px;
    background-size: 100%;
    background-repeat: no-repeat;
    color: #fff;
}

.single-img{
    border: 4px solid #000;
    border-radius: 10px;
    margin-right: 50px;
}

.single-title{
    color: #f00;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}